


/* Common style */
.btn {
    background-color: #4E47FF;
    color: #fff;
    padding: 24px 60px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}
.btn:hover {
    background-color: #1f1e51;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}
/* Header style start*/
.header {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Nav Style Start */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
}
nav h3 {
    font-size: 34px;
    color: #4E47FF;
    font-family: 900;

}
.header_title h1{
    font-size: 65px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 100px;

}
.header_btn {
    text-align: center;
    padding-bottom: 150px;
}
/* Action section style start */
.action {
    display: flex;
    justify-content: space-between;
    margin: 100px 145px;

}
.action_doco {
    width: 517px;
}
.action_doco h3 {
    font-size: 42px;
    font-weight: bold;
    color: black;
}
.action_doco p {
    font-size: 24px;
    color: #252432;
    margin-top: -12px;
    padding-bottom: 8px;
}
.action_image img {
    border-radius: 48px;
}
/* productive_user section start */
.productive_user {
    margin: 40px 142px;
    background-color: #e5e7ff;
    border-radius: 24px;
    padding: 50px 142px;
}
.productive_user h3 {
    font-size: 38px;
    font-weight: bold;
    color: #24322f;
    text-align: center;
}
.user_actives {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    
}
.user h1 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-top: 11px;
}
.user p {
    font-size: 20px;
    color: #252432;
    margin-top: -65px;
}
/* card section start */
.user_card {
    margin: 100px 140px;
}
.user_card h3 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.card_container {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.card {
    padding: 24px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 14px;
}
.card h4 {
    font-size: 25px;
    font-weight: 800;
    color: black;
    margin-top: 24px;
}
.card p {
    color: #1E1E1E;
    margin-top: -19px;
}
.user_content img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user_content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}
.user_doco h5 {
    color: #757575;
}
.user_doco p {
    color: #B3B3B3;
}
/* ready to focus section start */
.ready_to_focus {
    padding: 71px;
    margin: 50px 150px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 4px;
    border-radius: 14px;
}
.ready_to_focus_doco h3 {
    font-size: 50px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
}
.ready_to_focus_doco p {
    color: #757575;
    margin-top: -31px;
    margin-bottom: 26px;
    text-align: center;
    
}
.ready_to_focus_btn {
    display: block;
    margin: 0 auto;
}
.ready_to_focus_doco img {
    border-radius: 48px;
    display: block;
    margin: 28px auto;
    width: 840px;
}
/* Get in touch section start */
.get_in_touch {
    margin: 100px 150px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px 0 100px 0;
}
.get_in_touch_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get_in_touch_content h1 {
    font-size: 97px;
    font-weight: bold;
    color: black;
}
form {
    margin-top: 20px;
}
form label {
    font-size: 18px;
    font-weight: 500;
    color: black;
    line-height: 60px;
}
form input {
    width: 497px;
    height: 70px;
    border-radius: 10px;
    background-color: #f5f3f3;
    border: none;
    padding: 10px 30px;
}
::placeholder {
    font-size: 20px;
    color: #757575;

}
textarea {
    width: 497px;
    border-radius: 10px;
    background-color: #f5f3f3;
    border: none;
    padding: 10px 32px;
}
textarea::placeholder {
    padding: 10px 0;
}
.form_btn {
    margin-top: 20px;
    width: 562px;
}
/* footer section */
footer {
    background-color: #f9f7f7;
    padding: 13px 0 60px 0;
    margin-top: -50px;
}
.foter_content h1 {
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
    text-align: center;
}
.foter_content p {
    font-size: 16px;
    color: #8987A1;
    margin-top: -60px;
    text-align: center;
}
.footer_list {
    margin-top: 20px;
}
.footer_list ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer_list ul li {
    list-style: none;
}
.footer_list ul li a {
    text-decoration: none;
    color: #8987A1;
}
